@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;700&display=swap');
body {
    background: #fff;
    font-family: 'Inter', sans-serif;
    /* overflow-x: hidden; */
}
.default-container {
    max-width: 1300px;
    margin: auto;
}
a {
    text-decoration: none;
    color: #000;
}
h1 {
    font-size: 58px;
    color: #000;
    line-height: 70px;
    margin-bottom: 19px;
}
h2 {
    font-size: 42px;
    line-height: 53px;
    font-family: 'Readex Pro', sans-serif;  
}


/* HEADER */
header {
    height: 80px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}
.header-nav ul {
    display: flex;
    justify-content: space-between;
    font-weight: normal;
}
.header-nav ul li  {
    margin-right: 35px;
}
.header-nav ul li:last-child  {
    margin-right: 0;
    margin-left: 10px;
}

.header-right ul{
    display: flex;
}
.header-right ul li:first-child {
    margin-right: 22px;
}

/* MAIN */
.section1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1300px;
    height: 550px;
    background-color: #DCE5E2;
    border-radius: 32px;
    margin: 28px auto;
}
.section-title {
    margin-left: 56px;
}
.section-title p {
    width: 565px;
    height: 39px;
    line-height: 19.2px;
}
.section-title button {
    width: 170px;
    height: 50px;
    padding: auto;
    margin-top: 30px;
    background-color: #DCE5E2 ;
    border-radius: 200px;
    font-size: 18px;
    line-height: 26px;
}

.section2 {
    padding: 28px ;
    /* text-align: center; */
}
.section2 h2 {
    font-family: 'Readex Pro', sans-serif;
    text-align: center;
} 
.under-title {
    font-family: 'Readex Pro', sans-serif;
    margin-top: 9px;
    font-size: 13px;
    line-height: 16.8px;
    text-align: center;
}
.grid-container {
    margin-top: 56px;
    display: grid;
    gap: 16px;
    grid-template: 472px 270px / 639px 312px 312px ;
    width: 1294px;
    height: 792px;
}
.grid-laptops {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) ;
    text-align: left;
    padding: 0  42px ;
    border-radius: 32px;
}

.grid-laptops p {
    font-size: 15px;
    line-height: 19.2px;
    text-align: right;
}
.grid-laptops h3 {
    font-family: 'Readex Pro', sans-serif;
    text-align: right;
    font-size: 32px;
    line-height: 38.4px;
}



.grid-container .grid-watchs{
    box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.25);
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 42px;
    margin-top: 28px;
    margin-bottom: -28px;
    border-radius: 32px;
}

.watch-title {
    text-align: right;
}
.watch-title p {
    font-size: 15px;
    line-height: 19.2px;
    text-align: right;
}
.watch-title h3 {
    font-family: 'Readex Pro', sans-serif;
    text-align: right;
    font-size: 32px;
    line-height: 38.4px;
}
.grid-container .grid-phones {
    box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.25);
    padding: 144px 0;
    border-radius: 32px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3 ;
}
.grid-phones img {
    margin-left: 16px;
    margin-bottom: 42px;
}
.phones-title p {
    font-size: 15px;
    line-height: 19.2px;
    text-align: center;
}
.phones-title h3 {
    font-family: 'Readex Pro', sans-serif;
    text-align: center;
    font-size: 32px;
    line-height: 38.4px;
}

.grid-container .grid-tablet {
    box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.25);
    padding: 144px 0;
    border-radius: 32px;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3 ;
}
.laptops-title p {
    font-size: 15px;
    line-height: 19.2px;
    text-align: center;
}
.laptops-title h3 {
    font-family: 'Readex Pro', sans-serif;
    text-align: center;
    font-size: 32px;
    line-height: 38.4px;
    margin-bottom: 42px;
}

.section3 h2 {
    font-family: 'Readex Pro', sans-serif;
    margin-top: 52px;
    text-align: center;
}
.section3-under-titles {
    font-size: 13px;
    text-align: center;
    margin-top: 9px;
    margin-bottom: 31px;
}
.section3 h6 {
    font-size: 22px;
    line-height: 27.5px;
    margin: 9px 0;
    font-family: 'Readex Pro', sans-serif;
}
.all-products {
    display: flex;
    justify-content: space-between;
    width: 1300px;
}
.product-container {
    width: 302.5px;
    height: 396px;
}
.product-container img {
    margin: 28px;
}
.product-container p:nth-child(3) {
    line-height: 16.8px;
    font-size: 14px;
    color: #4B4B4B;
    height: 34px;
    margin-bottom: 23px;
}
.product-container p:nth-child(4) {
    font-size: 18px;
    line-height: 21.6px;
}


.section4 {
    padding: 28px;
    text-align: center;
}
.section4 h2 {
    font-family: 'Readex Pro', sans-serif;
    line-height: 52.5px;
    margin-top: 47px;
    margin-bottom: 9px;
}
.best-products {
    display: flex;
    width: 1300px;
    justify-content: space-between;
    margin-top: 56px;
    height: 453px;
}
.best-product-container {
    background-color: #F8F9FA;
    border-radius: 16px;
    text-align: center;
    padding-top: 41px;
    width: 413px;
}
.best-product-container p{
    line-height: 16.8px;
    font-size: 13px;
    font-family: 'Readex Pro', sans-serif;
}
.best-product-container h5{
    font-size: 28px;
    line-height: 35px;
    font-family: 'Readex Pro', sans-serif;
    margin-bottom: 30px;   
}
.best-product-container button{
    display: block;
    text-align: center;
    margin: 0 auto;
    border: #000 1px solid;
    border-radius: 200px;
    width: 190px;
    height: 50px;
    background-color: #F8F9FA;
    font-size: 18px;
    margin-bottom: 30px;
}

.section5 {
    padding: 28px;
    text-align: center;
}
.section5 .ideas-wrapper {
    margin-top: 56px;
    display: flex;
    text-align: left;
}
.ideas {
    margin-left: 35px;
    font-size: 24px;
    height: 292px;
    align-items: space-between;
}
.ideas p {
    line-height: 30px;
    margin-top: 14px;
    margin-bottom: 23px;
}
.see-all {
    margin-top: 74px;
    font-size: 24px;
}
.see-all img{
    margin-top: -4px;
    width: 30px;
    height: 28px;
}




